@{
    ViewData["Title"] = "My Method";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
        <p class="text-center">Мой метод в хоум контроллере сработал сработал</p>
</div>